<script lang="ts"
        setup>

</script>

<template>
  <div class="container">
    <div class="content">
      <h2>Notre Association</h2>
      <img alt="Photo des membres de l'association de shogi d'alsace, au moment du championnat d'europe de 2023 à Strasbourg."
           src="../../assets/Staff1.jpg">
      <p>Nous sommes le club de Strasbourg, affilié au club de Colmar au sein de l'Association de Sh&#333;gi d'Alsace.
        Nous nous réunissons une fois par semaine afin de partager des moments conviviaux autour des plateaux. Bonne
        ambiance et dose de sucre hebdomadaires garantis.</p>
      <p>Nous organisons des tournois internes, nous participons à d'autres tournois en France et parfois en Europe.
        L'association de Sh&#333;gi d'Alsace a organisé cette année, en juillet, le Championnat d'Europe ainsi que le
        World Open Sh&#333;gi Championship. Que vous soyez un/une joueur(euse) assidu(e), un(e) débutant(e) ou quelqu'un
        qui cherche juste à s'amuser, nous avons de la place pour tout le monde.</p>
    </div>
  </div>
</template>

<style lang="scss"
       scoped>
.container {
  background-color: var(--secondary-background);

  .content {
    max-width: 1400px;
    margin: 0 auto 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 32px;
      text-align: center;
    }

    img {
      max-width: 80%;
      margin: 10px;
      max-height: 500px;
    }

    p {
      font-size: 18px;
      text-align: justify;
    }
  }
}

@media screen and (min-width: 1000px) {
  .container .content p {
    font-size: 28px;
  }
}
</style>