<script lang="ts"
        setup>

</script>

<template>
  <div class="container">
    <div class="content">
      <h2>Qu'est ce que le Sh&#333;gi ?</h2>
      <img alt="Disposition initiale du plateau de shogi."
           src="../../assets/shogiban.png">
      <p>Le Sh&#333;gi est un jeu de stratégie et de réflexion qui partage beaucoup de règles avec les échecs que nous
        connaissons en France. Le but est de capturer le Roi adverse, mais avec deux particularités de taille. Une pièce
        que vous capturez est
        une pièce que vous pouvez réutiliser en la "parachutant" sur une case vide du plateau. La deuxième particularité
        est que vous avez la possibilité de promouvoir une de vos pièces si elle se déplace dans les trois lignes les
        plus
        proches de votre adversaire.</p>
      <a href="https://drive.google.com/file/d/1PJrb1uPBrF37OAnXjoZjK6uffJCw2xI7/view">Règles du jeu</a>
    </div>
  </div>
</template>

<style lang="scss"
       scoped>
.container {
  background-color: var(--secondary-background);

  .content {
    margin: 0 auto 20px;
    max-width: 1400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 32px;
      text-align: center;
    }

    img {
      max-width: 80%;
      margin: 10px;
    }

    p {
      font-size: 18px;
      text-align: justify;
    }

    a {
      background-color: var(--primary-action);
      width: 120px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $dark;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 1000px) {
  .container .content p {
    font-size: 28px;
  }
}
</style>