<script lang="ts"
        setup>


defineProps<{
  size: string;
  size2: string
}>()


</script>

<template>
  <div class="container">
    <div class="content">
      <h2>Nous rejoindre</h2>
      <div class="social-media">
        <a href="https://www.instagram.com/asa.strasbourg/"><img alt="Logo Instagram"
                                                                 src="../../assets/Instagram_icon.png"/></a>
        <a href="https://discord.gg/Xz75WsUaq"><img alt="Logo Discord"
                                                    src="../../assets/discord-logo-7-1.png"/></a>
      </div>
      <p>Nos réseaux sociaux, pour nous rejoindre, être au courant de nos événements et bien plus encore.</p>
    </div>
  </div>
</template>

<style lang="scss"
       scoped>


.container {
  background-color: var(--secondary-background);

  .content {
    margin: 0 auto 20px;
    max-width: 1400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h2 {
      font-size: v-bind(size);
      text-align: center;
    }

    p {
      margin-top: 20px;
      font-size: 28px;
      text-align: justify;
      font-weight: 700;
    }

    .social-media {
      display: flex;
      gap: 40px;

      img {
        max-height: 120px;

      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container > .content {
    > h2 {
      font-size: v-bind(size2);
    }

    p {
      font-size: 18px;
    }
  }
}
</style>