<script lang="ts"
        setup>

import {useArticles} from "@/composables/useArticles.ts";

const props = defineProps<{
  image: { source: string, alt: string },
  title: string,
  author: string,
  date: string,
  brief: string,
  styleClass: string
  slug: string
}>()

const {dateOptions} = useArticles()


</script>

<template>
  <article :class="props.styleClass">
    <QCard>
      <img :alt="props.image.alt"
           :src="props.image.source"
      />
      <div>
        <div>
          <h4>{{ props.title }}</h4>
          <p>{{ props.author }}, le
            {{ new Date(props.date).toLocaleDateString('fr-FR', dateOptions as Intl.DateTimeFormatOptions) }}</p>
          <p>{{ props.brief }}</p>
        </div>
        <RouterLink :to="`/article/${props.slug}`"
                    class="primary-button">Lire la suite
        </RouterLink>
      </div>
    </QCard>
  </article>
</template>

<style lang="scss"
       scoped>

article {
  overflow: hidden;
  position: relative;
}

.size-big {
  width: 100%;
  margin: 20px 0;

  img {
    width: 100%;
    margin-bottom: 20px;
    height: 500px;
    object-fit: cover;
  }

  .q-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      padding: 0 10px 10px 10px;
      margin-bottom: 60px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      > div {

        h4 {
          margin: 0;
          font-size: 48px;
          line-height: 1.33;
        }

        p {
          font-size: 16px;
          margin: 10px 0;
          width: 100%;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
    }

  }
}

@media screen and (max-width: 1000px) {
  .size-big .q-card {
    img {
      height: 400px;
    }

    > div {

      height: 200px;
      margin-bottom: 80px;

      > div h4 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .size-big .q-card {
    img {
      height: 250px;
    }

    div {
      margin-bottom: 40px;

      div {
        h4 {
          font-size: 16px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}

.size-large {
  display: flex;
  width: 100%;
  height: 350px;
  margin-bottom: 50px;
  border-radius: 20px;

  .q-card {
    width: 100%;
    display: flex;


    img {
      width: 400px;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
      border: 1px solid gray;
    }

    > div {
      width: 100%;
      padding: 20px 20px 20px 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h4 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 48px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .size-large {
    .q-card {
      div {
        justify-content: flex-start;

        div {
          margin-top: 40px;

          h4 {
            font-size: 36px;
            margin-bottom: 20px;
          }

          p:last-of-type {
            width: 100%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .size-large {
    height: 300px;

    .q-card {
      img {
        width: 300px;
      }

      div {
        padding-top: 12px;

        div {
          margin-top: 0;

          h4 {
            font-size: 24px;
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .size-large {
    height: 500px;

    .q-card {
      flex-direction: column;

      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
      }

      div {
        div {
          padding-top: 0;

          h4 {
            margin-bottom: 8px;
          }

          p {
            font-size: 16px;
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .size-large {
    height: fit-content;

    .q-card {
      height: fit-content;
      //padding: 12px;
      div {
        padding-left: 20px;

        div {
          padding: 0 0 50px 0;
        }
      }
    }
  }
}

.size-small {
  width: 30%;
  margin-bottom: 20px;
  position: relative;

  .q-card {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  img {
    height: 240px;
    width: 100%;
    object-fit: cover;
  }

  > div {
    padding: 10px;


    div:first-of-type {
      max-height: 280px;
      overflow: hidden;

      h4 {
        margin: 10px 0 0;
        font-size: 24px;
      }

      p {
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      p:last-of-type {
        box-sizing: border-box;
      }
    }

    div:last-of-type {
      margin-bottom: 20px;

      a {
        background-color: var(--primary-action);
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dark;
        font-weight: 700;
        text-decoration: none;
        position: absolute;
        bottom: 20px;
        right: 20px;
        border-radius: 5px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .size-small > div > div:first-of-type {
    h4 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 8px;
    }

    p {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 800px) {
  .size-small {
    width: 100%;
    height: fit-content;

    .q-card {
      height: fit-content;

      > div {
        margin-bottom: 40px;

        p {
          margin-bottom: 30px;
        }
      }
    }
  }
}
</style>