<script lang="ts"
        setup>

import {useLogin} from "@/composables/useLogin.ts";
import {useNewsletter} from "@/composables/useNewsletter.ts";

const {emailRegex} = useLogin()
const {
  subscribeToNewsletter,
  email
} = useNewsletter()

</script>

<template>
  <section>
    <h2>Newsletter</h2>
    <p>Abonnez-vous à la newsletter si vous voulez être au courant des futurs événements de l'association.</p>
    <QForm @submit="subscribeToNewsletter">
      <QInput
          v-model="email"
          :rules="[val => emailRegex.test(val) || val === '' || 'Email invalide']"
          bg-color="white"
          label="Email"
          lazy-rules
          outlined
          type="email"
      />
      <QBtn
          label="S'abonner"
          type="submit"
      />
    </QForm>
  </section>
</template>

<style lang="scss"
       scoped>

section {
  background-color: var(--secondary-background);
  padding: 20px;
  max-width: 1400px;
  width: 100%;

  h2 {
    text-align: center;
  }

  p {
    font-size: 20px;
    text-align: center;
  }

  .q-form {
    position: relative;
    margin: 0 auto 40px;
    max-width: 800px;
    width: 100%;
  }

  .q-btn {
    position: absolute;
    background-color: var(--primary-action);
    right: 0;
  }
}

@media screen and (max-width: 1000px) {
  section {
    h2 {
      font-size: 48px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
    }
  }
}

</style>