<script lang="ts"
        setup>

import CardsComponents from "@/components/Homepage/CardsComponents.vue";
import {computed, onMounted, ref} from "vue";
import {useArticles} from "@/composables/useArticles.ts";
import {storeToRefs} from "pinia";
import {useArticlesStore} from "@/stores/useArticlesStore.ts";

const baseUrl = import.meta.env.VITE_APP_BACKEND_BASEURL
const {loadArticles} = useArticles()

const {
  highlightedArticle,
  articles
} = storeToRefs(useArticlesStore())

onMounted(() => {
  loadArticles()
})


const numberToDisplay = ref<number>(6)
const limitedArticles = computed(() => {
  return articles.value?.slice(0, Math.min(articles.value?.length, numberToDisplay.value))
})

</script>

<template>
  <section v-if="!!articles && !!highlightedArticle">
    <h2>Actualités :</h2>
    <div>
      <CardsComponents :author="`${highlightedArticle.author.first_name} / ${highlightedArticle.author.username}`"
                       :brief="highlightedArticle.brief"
                       :date="highlightedArticle.created_at"
                       :image="{source: baseUrl + highlightedArticle.image.image, alt:highlightedArticle.image.alt}"
                       :slug="highlightedArticle.slug"
                       :title="highlightedArticle.title"
                       styleClass="size-big"
      />
    </div>
    <div class="row">
      <CardsComponents v-for="article in limitedArticles"
                       :key="article.id"
                       :author="`${article.author.first_name} / ${article.author.username}`"
                       :brief="article.brief"
                       :date="article.created_at"
                       :image="{source: baseUrl + article.image.image, alt:article.image.alt}"
                       :slug="article.slug"
                       :title="article.title"
                       styleClass="size-small"/>
    </div>
    <button v-if="numberToDisplay < articles.length"
            class="primary-button"
            @click="numberToDisplay += 6"
    >Voir plus
    </button>
  </section>
  <section v-else>
    Chargement en cours...
  </section>
</template>

<style lang="scss"
       scoped>
section {
  margin-bottom: 10px;
  max-width: 1000px;
  width: 100%;
  padding: 0 20px 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 24px 0;
    text-align: center;
  }

  > div {
    width: 90%;
    display: flex;
    justify-content: space-between;

  }

  > .row {
    width: 90%;
    display: flex;
    justify-content: space-between;

  }

  a.primary-button {
    bottom: -10px;
    right: 0;
  }
}

@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }
}

</style>