<script lang="ts"
        setup>

import {onMounted, ref} from "vue";
import {QFile} from "quasar";
import {useCustomQuasar} from "@/composables/useCustomQuasar.ts";
import axios from "axios";
import type {Categories} from "#/Articles";
// @ts-ignore
import moment from "moment";
import {useUserStore} from "@/stores/useUserStore.ts";
import {storeToRefs} from "pinia";

const {customNotify} = useCustomQuasar()
const {userData} = storeToRefs(useUserStore())

const {setJwtWrapper} = useUserStore()


const title = ref<string>('')
const content = ref<string>('')
const author = ref<string>('')
const brief = ref<string>('')
const model = ref<null>()
const category = ref<number[]>([])
const highlight = ref<boolean>(false)
const date = ref<string>('')
const time = ref<string>('')

const categorySelectOption = ref<{ label: string, value: number }[]>([])

onMounted(async () => {
  const apiBaseUrl = import.meta.env.VITE_APP_BACKEND_BASEURL
  const response = await axios.get(apiBaseUrl + 'articles/categories/')
  response.data.forEach((category: Categories) => {
    categorySelectOption.value.push({
      label: category.name,
      value: category.id
    })
  })
})

const submitForm = async () => {
  await setJwtWrapper()
  if (author.value === '') {
    // @ts-ignore
    // Si une personne est en train d'éditer un article, elle est forcément connectée et admin.
    author.value = userData.value.name
  }


  console.log(category.value)
  await axios.post('http://localhost:8000/articles/', {
    title: title.value,
    content: content.value,
    author: author.value,
    brief: brief.value,
    image: model.value,
    category: category.value,
    highlight: highlight.value,
    highlight_end: highlight.value ? moment(date.value + ' ' + time.value, 'YYYY-MM-DD HH:mm').unix() : null
  }, {
    headers: {
      Authorization: `Bearer ${localStorage.getItem('jwt_access')}`,
      'Content-Type': 'multipart/form-data'
    }
  })
}

const onRejected = (rejectedEntries: any) => {
  console.log(rejectedEntries)
  customNotify('Erreur lors de l\'upload de l\'image', 'negative')
}

</script>

<template>
  <section>
    <div class="container">
      <h2>Création d'articles</h2>
      <div class="form">
        <QForm id="form"
               name="form"
               @submit="submitForm">
          <QInput v-model="title"
                  bg-color="white"
                  label="Titre"
                  lazy-rules
                  outlined/>

          <QInput v-model="brief"
                  bg-color="white"
                  label="Courte description (300 caractères max). N'est pas réutilisé dans la page principale de l'article."
                  lazy-rules
                  outlined/>

          <QInput v-model="author"
                  bg-color="white"
                  label="Auteur si différent de la personne connectée."
                  lazy-rules
                  outlined/>

          <QFile v-model="model"
                 accept=".jpg, image/*"
                 bg-color="white"
                 label="Image de couverture"
                 outlined
                 @rejected="onRejected"/>

          <div class="option-group">
            <QOptionGroup v-model="category"
                          :options="categorySelectOption"
                          bg-color="white"
                          outlined
                          type="checkbox"/>
          </div>

          <div class="date-time">
            <QCheckbox v-model="highlight"
                       bg-color="white"
                       label="Mise en avant"
                       outlined
                       type="checkbox"/>
            <div v-if="highlight"
                 class="conditionnal">
              <p>Combien de temps souhaitez-vous mettre l'article en avant ?</p>
              <QInput v-model="date"
                      :rules="['date']"
                      filled
                      mask="date">
                <template v-slot:append>
                  <QIcon class="cursor-pointer"
                         name="event">
                    <QPopupProxy cover
                                 transition-hide="scale"
                                 transition-show="scale">
                      <QDate v-model="date">
                        <div class="row items-center justify-end">
                          <QBtn v-close-popup
                                color="primary"
                                flat
                                label="Close"/>
                        </div>
                      </QDate>
                    </QPopupProxy>
                  </QIcon>
                </template>
              </QInput>

              <QInput v-model="time"
                      filled
                      mask="time"
              >
                <template v-slot:append>
                  <QIcon class="cursor-pointer"
                         name="schedule">
                    <QPopupProxy cover
                                 transition-hide="scale"
                                 transition-show="scale">
                      <QTime
                          v-model="time"
                          color="admin-background-primary"
                          format24h
                      />
                    </QPopupProxy>
                  </QIcon>
                </template>
              </QInput>

            </div>

          </div>

          <QInput
              v-model="content"
              bg-color="white"
              label="Contenu au format HTML"
              outlined
          >

          </QInput>
          <QBtn
              color="primary"
              label="Créer"
              type="submit"
          />
        </QForm>
      </div>
    </div>
  </section>
</template>

<style lang="scss"
       scoped>

section {
  background-color: #BED3C4;
  width: 100%;
  margin-bottom: 50px;
  padding: 20px 0;

  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;

    h2 {
      font-size: 60px;
    }

    .q-form {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;

      > .q-field {
        margin-bottom: 20px;
      }

      > .option-group {
        display: flex;
        align-items: center;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 10px;
      }

      .date-time {
        border: 1px solid gray;
        border-radius: 5px;
        padding: 10px;

        > .conditionnal {
          margin-top: 15px;
        }
      }

      > div {
        margin: 20px 0;
      }
    }
  }

  .q-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  section {
    .container {
      width: 100%;

      h2 {
        font-size: 32px;
      }
    }
  }
}

</style>