<script lang="ts"
        setup>

import {onMounted, ref} from "vue";
import axios from "axios";

const newsletter = ref<string[]>([])

onMounted(async () => {
  const apiBaseUrl = import.meta.env.VITE_APP_BACKEND_BASEURL
  const response = await axios.get(apiBaseUrl + 'newsletter/', {
    headers: {
      'Authorization': `Bearer ${localStorage.getItem('jwt_access')}`
    }
  })
  response.data.forEach((record: any) => {
    newsletter.value.push(
        record.email
    )
  })
})

</script>

<template>
  <section>
    <div class="container">
      <h2>Newsletter Instances</h2>
      <p>{{ newsletter }}</p>
    </div>
  </section>
</template>

<style lang="scss"
       scoped>

section {
  background-color: #BED3C4;
  width: 100%;
  margin-bottom: 50px;
  padding: 20px 0;

  .container {
    max-width: 1400px;
    margin: 0 auto 50px;
    padding: 0 40px;

    h2 {
      font-size: 60px;
    }
  }

  @media screen and (max-width: 1000px) {
    section {
      .container {
        width: 100%;

        h2 {
          font-size: 32px;
        }
      }
    }
  }
}


</style>