<script lang="ts"
        setup>

import {onMounted} from "vue";
import {useRoute} from "vue-router";
import DateTimeFormatOptions = Intl.DateTimeFormatOptions;
import {useArticles} from "@/composables/useArticles.ts";
import {storeToRefs} from "pinia";
import {useArticlesStore} from "@/stores/useArticlesStore.ts";

const route = useRoute()
const options = {
  weekday: 'long',
  year: 'numeric',
  month: 'long',
  day: 'numeric'
}

const baseUrl = import.meta.env.VITE_APP_BACKEND_BASEURL
const {loadArticleBySlug} = useArticles()
const {articleDetailed} = storeToRefs(useArticlesStore())

onMounted(async () => {
  await loadArticleBySlug(route.params.slug as string)
})


</script>

<template>
  <div class="container">

    <div v-if="!!articleDetailed"
         class="article">
      <h2>{{ articleDetailed.title }}</h2>
      <img :alt="articleDetailed.image.alt"
           :src="`${baseUrl}${articleDetailed.image.image}`">
      <div class="category_container">
        <p v-for="category in articleDetailed.category"
           :key="category.id"
        >{{ category.name }}</p>
      </div>
      <p class="author">par {{ articleDetailed.author.first_name }} / {{ articleDetailed.author.username }}, le {{
          new Date(articleDetailed.created_at).toLocaleDateString('fr-FR', options as DateTimeFormatOptions)
        }}</p>
      <div class="html"
           v-html="articleDetailed.content"></div>
    </div>

    <div v-else
         class="error">
      <h2>404</h2>
      <p>Article non trouvé</p>
    </div>
  </div>
</template>

<style lang="scss"
       scoped>

.container {
  background-color: var(--secondary-background);
  padding: 50px 0;

  .article {

    background-color: white;
    border-radius: 50px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 100px;

    > h2 {
      margin-bottom: 40px;
      margin-top: 20px;
      line-height: 80px;
      text-align: center;
    }

    > img {
      width: 100%;
      max-height: 400px;
      object-fit: contain;
      margin-bottom: 20px;
    }

    .author {
      font-size: 24px;
    }

    .category_container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      > p {
        background-color: var(--primary-background);
        width: fit-content;
        padding: 10px;
        color: white;
      }
    }

    ::v-deep(.html) {
      margin: 0 100px;

      p, li {
        font-size: 24px;
      }
    }

  }

  .error {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h2 {
      font-size: 96px;
    }

    > p, li {
      font-size: 48px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    .article {

      > h2 {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 46px;
      }

      > img {
        height: 100%;
        max-height: 400px;
      }

      .author {
        font-size: 16px;
      }

      ::v-deep(.html) {
        margin: 0 20px;

        h3 {
          font-size: 40px;
        }

        p, li {
          font-size: 16px;
        }
      }
    }
  }
  .error {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h2 {
      font-size: 96px;
    }

    > p {
      font-size: 48px;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .article {
      padding: 20px 12px 20px;

      > h2 {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 36px;
        line-height: 46px;
      }

      > img {
        height: 100%;
        max-height: 400px;
      }

      .author {
        font-size: 16px;
      }

      ::v-deep(.html) {
        margin: 0 20px;

        h3 {
          font-size: 24px;
          line-height: 30px;
        }

        p, li {
          font-size: 16px;
        }
      }
    }
  }
}

</style>