<script lang="ts"
        setup>

</script>

<template>

  <main>
    <div class="container">
      <h1>Calendrier</h1>
      <h2>Bientôt disponible</h2>
    </div>
  </main>
</template>

<style lang="scss"
       scoped>

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 100%;
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
}
</style>