<script lang="ts"
        setup>

import SocialMediaComponent from "@/components/Presentation/SocialMediaComponent.vue";
import {useLogin} from "@/composables/useLogin.ts";
import {storeToRefs} from "pinia";
import {useUserStore} from "@/stores/useUserStore.ts";


const {
  contact,
  name,
  email,
  emailRegex,
  nameRegex,
  message
} = useLogin()
const {userData} = storeToRefs(useUserStore())
const {userIsLogged} = useUserStore()


</script>

<template>
  <main>
    <div class="container">
      <h1>Contact :</h1>
      <p>Vous pouvez nous contacter par mail à l'adresse suivante : hello(at)shogi-strasbourg.fr </p>
    </div>

    <div class="container">
      <h2>Formulaire de contact</h2>
      <QForm>
        <QInput v-model="name"
                :disable="userIsLogged()"
                :label="userIsLogged() ? userData?.name : 'Nom'"
                :rules="[val => nameRegex.test(val) || val === '' || 'Nom invalide']"
                bg-color="white"
                color="black"
                filled
                lazy-rules
                outlined/>
        <QInput v-model="email"
                :disable="userIsLogged()"
                :label="userIsLogged() ? userData?.email : 'Email'"
                :rules="[val => emailRegex.test(val) || val === '' || 'Email invalide']"
                bg-color="white"
                color="black"
                filled
                lazy-rules
                outlined/>
        <QInput v-model="message"
                bg-color="white"
                color="black"
                filled
                label="Message"
                outlined
                type="textarea"
        />
        <div>
          <QBtn class="q-ma-md"
                label="Envoyer"
                @click="contact"/>
        </div>
      </QForm>
    </div>

    <SocialMediaComponent size="64px"
                          size2="32px"/>

  </main>
</template>

<style lang="scss"
       scoped>

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 100%;
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
  }

  p, a {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 3rem;
  }

  .q-form {
    width: 100%;
    max-width: 600px;
    margin-bottom: 25px;


    .q-input {
      margin-bottom: 25px;
    }

    > div {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      > .q-btn {
        background-color: var(--primary-action);
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 20px;

    h1 {
      font-size: 64px;
    }

    h2 {
      font-size: 32px;
    }

    p {
      text-align: center;
    }
  }
}


</style>