<script lang="ts"
        setup>

import NewsComponent from "@/components/Homepage/NewsComponent.vue";
import NewsletterComponent from "@/components/Homepage/NewsletterComponent.vue";
</script>

<template>
  <main>
    <div class="container">
      <NewsComponent/>
    </div>
    <div class="container">
      <NewsletterComponent/>
    </div>
  </main>

</template>

<style lang="scss"
       scoped>
main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 100%;
    background-color: var(--secondary-background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  h2, h3 {
    text-align: center;
  }
}
</style>