<template>
  <main>
    <section>
      <h2>Mentions légales</h2>
      <div>
        <p><strong>Nom de l'Association : </strong>Association de Shogi d’Alsace - Section Strasbourg</p>
        <p><strong>Adresse : </strong>5 Rue Gustave Doré - 67000 Strasbourg</p>
        <p><strong>Email : </strong>hello@shogi-strasbourg.fr</p>
        <p><strong>Responsable de la publication : </strong> Ugo Gabriel - ugo.gabriel@outlook.com</p>
      </div>

      <div>
        <h3>Hébergeur du site web : </h3>
        <p>Hostinger International Ltd, société privée à responsabilité limitée de Chypre, dont l'adresse est 61 Lordou
          Vironos str. 6023 Larnaca, Chypre </p>
      </div>

      <div>
        <h3>Propriété intellectuelle :</h3>
        <p>Tous les contenus présents sur le site de l’Association de Shogi d’Alsace - Section Strasbourg, incluant,
          mais
          sans s'y limiter, les textes, images, graphiques, logos, icônes, clips audio, clips vidéo et logiciels, sont
          la
          propriété exclusive de l’Association de Shogi d’Alsace - Section Strasbourg ou de ses fournisseurs de contenu
          (sauf indication contraire), et sont protégés par les lois françaises et internationales sur les droits
          d'auteur. Toute utilisation non autorisée de ces contenus peut constituer une violation des lois sur le droit
          d'auteur et des lois applicables en matière de marques commerciales.
          Protection des données personnelles : L’Association de Shogi d’Alsace - Section Strasbourg s'engage à protéger
          la vie privée de ses utilisateurs et à respecter les dispositions de la loi Informatique et Libertés. Pour en
          savoir plus sur la collecte et le traitement de vos données personnelles, veuillez consulter notre politique
          de
          confidentialité.</p>
      </div>

      <div>
        <h3>Liens vers des sites tiers :</h3>
        <p>Le site de l’Association de Shogi d’Alsace - Section Strasbourg peut contenir des liens vers des sites web
          tiers. L’Association de Shogi d’Alsace - Section Strasbourg n'est pas responsable du contenu ou des pratiques
          en
          matière de confidentialité de ces sites. Nous vous encourageons à consulter les politiques de confidentialité
          de
          ces sites tiers.</p>
      </div>

      <div>
        <h3>Droit applicable :</h3>
        <p>Tout litige en relation avec l'utilisation du site de l’Association de Shogi d’Alsace - Section Strasbourg
          est
          soumis au droit français. En cas de litige, les tribunaux français seront seuls compétents. </p>
      </div>

      <div>
        <h3>Contact :</h3>
        <p>Pour toute question concernant ces mentions légales, veuillez nous contacter à l'adresse suivante :
          hello@shogi-strasbourg.fr. </p>
      </div>

      <div>
        <p>Dernière mise à jour : 06/11/2023</p>
      </div>
    </section>
  </main>
</template>

<style lang="scss"
       scoped>
main {
  background-color: $secondary-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  section {
    max-width: 1000px;
  }

  h2 {
    margin-top: 0;
  }

  p {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  main section {
    padding: 0 20px;

    h2 {
      font-size: 26px;
      line-height: 40px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 22px;

    }

    p {
      font-size: 18px;
    }
  }
}
</style>
<script lang="ts"
        setup>
</script>