<script lang="ts"
        setup>

import {useLogin} from "@/composables/useLogin.ts";
import {useUserStore} from "@/stores/useUserStore.ts";
import {storeToRefs} from "pinia";

const {
  confirmPassword,
  email,
  emailRegex,
  login,
  name,
  nameRegex,
  password,
  passwordRegex,
  register,
  username,
  usernameRegex,
} = useLogin()

const userStore = useUserStore()
const {isLogin} = storeToRefs(userStore)

</script>

<template>
  <main>
    <div v-if="isLogin">
      <h1>Connexion</h1>
      <div class="form">
        <QForm @submit.prevent="login">
          <QInput v-model="email"
                  :rules="[val => emailRegex.test(val) || val === '' || 'Email invalide']"
                  label="Email"
                  lazy-rules
                  outlined
                  placeholder="Email"
                  required
                  type="email"/>
          <QInput v-model="password"
                  label="Mot de passe"
                  outlined
                  placeholder="Mot de passe"
                  required
                  type="password"/>
          <div>
            <QBtn type="submit">Se connecter</QBtn>
          </div>
        </QForm>
      </div>
      <QBtn @click="isLogin = false">Je n'ai pas encore de compte</QBtn>
    </div>

    <div v-else>
      <h1>Inscription</h1>
      <div class="form">
        <QForm @submit.prevent="register">
          <QInput v-model="name"
                  :rules="[val => nameRegex.test(val) || val === '' || 'Nom invalide']"
                  label="Prénom, nom"
                  lazy-rules
                  outlined
                  placeholder="Prénom, nom"
                  required
                  type="text"/>
          <QInput v-model="email"
                  :rules="[val => emailRegex.test(val) || val === '' || 'Email invalide']"
                  label="Email"
                  lazy-rules
                  outlined
                  placeholder="Email"
                  required
                  type="email"/>
          <QInput v-model="username"
                  :rules="[val => usernameRegex.test(val) || val === '' || 'Le nom d\'utilisateur doit comporter entre 6 et 30 caractères et peut contenir des chiffres, des lettres et des underscores.']"
                  label="Nom d'utilisateur"
                  lazy-rules
                  outlined
                  placeholder="Nom d'utilisateur"
                  required
                  type="text"/>
          <QInput v-model="password"
                  :rules="[val => passwordRegex.test(val) || val === '' || 'Minimum 8 caractères, au moins 1 lettre et 1 chiffre']"
                  label="Mot de passe"
                  lazy-rules
                  outlined
                  placeholder="Mot de passe"
                  required
                  type="password"/>
          <QInput v-model="confirmPassword"
                  :rules="[val => val === password || 'Les mots de passe sont différents']"
                  label="Confirmez le mot de passe"
                  lazy-rules
                  outlined
                  placeholder="Mot de passe"
                  required
                  type="password"/>
          <div>
            <QBtn type="submit">S'inscrire</QBtn>
          </div>
        </QForm>
      </div>
      <QBtn @click="isLogin = true">J'ai déjà un compte</QBtn>
    </div>
  </main>
</template>

<style lang="scss"
       scoped>

main {
  max-width: 1400px;
  margin: 0 auto;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
      border: 1px solid gray;
      border-radius: 10px;
      padding: 20px;
      width: 600px;
      margin-bottom: 50px;

      .q-form {
        width: 100%;

        > div {
          > .q-btn {
            margin: 0;
            background-color: var(--primary-action);
          }
        }

        .q-input {
          margin-bottom: 20px;
          width: 100%;
        }

        div {
          align-items: flex-end;
        }
      }
    }

    > .q-btn {
      background-color: var(--primary-action);
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 1000px) {
  main div {
    h1 {
      margin-top: 0;
      font-size: 48px;
    }

    .form {
      width: 80%;
    }
  }
}

</style>