<script lang="ts"
        setup>

import {useNewsletter} from "@/composables/useNewsletter.ts";
import {useLogin} from "@/composables/useLogin.ts";

const {
  email,
  unregisterToNewsletter
} = useNewsletter()
const {emailRegex} = useLogin()

</script>

<template>
  <main>
    <section>
      <h2>Se désabonner de la newsletter</h2>
      <p>Remplissez le formulaire pour vous désinscrire de la newsletter.</p>
      <QForm @submit="unregisterToNewsletter">
        <QInput
            v-model="email"
            :rules="[val => emailRegex.test(val) || val === '' || 'Email invalide']"
            bg-color="white"
            label="Email"
            lazy-rules
            outlined
            type="email"
        />
        <QBtn
            label="S'abonner"
            type="submit"
        />
      </QForm>
    </section>
  </main>
</template>

<style lang="scss"
       scoped>
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-background);
}

section {
  padding: 20px;
  max-width: 1400px;
  width: 100%;

  h2 {
    text-align: center;
  }

  p {
    font-size: 20px;
    text-align: center;
  }

  .q-form {
    position: relative;
    margin: 0 auto 40px;
    max-width: 800px;
    width: 100%;
  }

  .q-btn {
    position: absolute;
    background-color: var(--primary-action);
    right: 0;
  }
}

@media screen and (max-width: 1000px) {
  section {
    h2 {
      font-size: 48px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
    }
  }
}


</style>