<script lang="ts"
        setup>

import {onMounted, ref} from "vue";
import {useRoute} from "vue-router";
import {useNewsletter} from "@/composables/useNewsletter.ts";

const route = useRoute();
const {verifyNewsletter} = useNewsletter()
const newsletterStatus = ref<number>()
onMounted(async () => {
  if (typeof route.params.token === 'string') {
    const response = await verifyNewsletter(route.params.token)
    newsletterStatus.value = response.status
  } else {
    newsletterStatus.value = 404
  }
});

</script>

<template>
  <main>
    <div v-if="newsletterStatus !== undefined && newsletterStatus === 404">
      <h2>Le code de vérification est invalide ou n'a pas été reconnu</h2>
      <p>Si vous pensez qu'il s'agit d'une erreur, veuillez contacter hello(at)shogi-strasbourg.fr</p>
    </div>
    <div v-if="newsletterStatus !== undefined && newsletterStatus === 412">
      <h2>Le code de vérification a expiré</h2>
      <p>Un nouveau code vous a été envoyé par mail, il est valable pendant 30 minutes.</p>
    </div>
    <div v-if="newsletterStatus !== undefined && newsletterStatus === 200">
      <h2>Vous êtes désormais inscrit à la newsletter</h2>
    </div>
    <div v-if="newsletterStatus !== undefined && newsletterStatus === 204">
      <h2>Vous êtes désormais désinscrit de la newsletter</h2>
    </div>
  </main>
</template>

<style lang="scss"
       scoped>
main {
  background-color: $secondary-background;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-top: 0;
  }

  p {
    text-align: center;
    font-size: 24px;
  }
}
</style>