<script lang="ts"
        setup>

import ShogiPresentationComponent from "@/components/Presentation/ShogiPresentationComponent.vue";
import ClubPresentationComponent from "@/components/Presentation/ClubPresentationComponent.vue";
import SocialMediaComponent from "@/components/Presentation/SocialMediaComponent.vue";
</script>

<template>
  <h1>Le Sh&#333;gi</h1>
  <ShogiPresentationComponent/>
  <ClubPresentationComponent/>
  <SocialMediaComponent size="32px"
                        size2="32px"/>
</template>

<style lang="scss"
       scoped>
h1 {
  text-align: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 64px;
  }
}
</style>