<template>
  <main>
    <section>
      <h2>Politique de confidentialité</h2>
      <div>
        <p>Dernière mise à jour : 09/11/2023</p>
      </div>
      <div>
        <p>
          L'Association de Shogi Française de Strasbourg (ci-après "nous", "notre" ou "l'Association") est engagée à
          protéger la confidentialité de vos informations personnelles. Cette politique de confidentialité explique
          comment nous collectons, utilisons, stockons et protégeons vos informations lorsque vous visitez notre site
          web. </p>
      </div>

      <div>
        <h3>1. Collecte de données</h3>
      </div>
      <div>
        <h4>1.1 Cookies</h4>
        <p>Nous ne collectons aucun cookie lorsque vous naviguez sur notre site. Seul un cookie fonctionnel
          (CSRF/Django) est utilisé pour des raisons de sécurité et de fonctionnalité du site.</p>
      </div>

      <div>
        <h4>1.2 Données personnelles</h4>
        <p>Lorsque vous vous inscrivez sur notre site ou vous abonnez à notre newsletter, nous pouvons collecter les
          informations que vous fournissez volontairement, telles que votre nom, adresse e-mail et d'autres informations
          pertinentes. Ces informations ne sont utilisées que dans le cadre de votre inscription et de l'envoi de la
          newsletter.</p>
      </div>

      <div>
        <h4>1.3 Sources de données externes</h4>
        <p>Dans certains cas, nous pouvons obtenir des informations à partir du site de la Fédération Européenne de
          Shogi (FESA) conformément à leurs politiques de confidentialité</p>
      </div>

      <div>
        <h3>2. Stockage de données</h3>
        <p>Toutes les données que nous collectons sont stockées de manière sécurisée dans notre base de données. Nous
          prenons des mesures appropriées pour protéger vos informations contre tout accès non autorisé, la perte, la
          divulgation ou la destruction.</p>
      </div>

      <div>
        <h3>3. Utilisation des données</h3>
        <p>Vos données personnelles ne sont à aucun moment utilisées à des fins commerciales. Elles sont utilisées
          uniquement dans le cadre de votre inscription, de l'envoi de la newsletter, pour des activités liées à
          l'association ou à des fins statistiques avec Matomo en accord avec les restrictions imposées par la CNIL.
          Nous ne vendons, ne louons ni ne partageons vos informations avec des tiers, sauf si cela est
          nécessaire pour répondre à nos obligations légales. </p>
      </div>

      <div>
        <h3>4. Droits de l'utilisateur</h3>
        <p>Vous avez le droit de demander l'accès à vos données personnelles, de les corriger, de les supprimer ou de
          vous opposer à leur traitement. Vous pouvez exercer ces droits en nous contactant à
          hello@shogi-strasbourg.fr. Nous ferons de notre mieux pour répondre à votre demande dans les plus brefs
          délais.</p>
      </div>

      <div>
        <h3>5. Modifications de la politique de confidentialité</h3>
        <p>Nous nous réservons le droit de mettre à jour cette politique de confidentialité en fonction des évolutions
          légales et des besoins de l'association. Toute modification sera publiée sur notre site web, et la date de la
          dernière mise à jour sera indiquée en haut de cette politique.</p>
      </div>

      <div>
        <h3>6. Nous contacter</h3>
        <p>Si vous avez des questions concernant notre politique de confidentialité ou la manière dont nous traitons vos
          données personnelles, veuillez nous contacter à l'adresse suivante : hello@shogi-strasbourg.fr.</p>
      </div>

      <div>
        <p>Dernière mise à jour : 09/11/23</p>
      </div>
    </section>
  </main>
</template>

<style lang="scss"
       scoped>
main {
  background-color: $secondary-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  section {
    max-width: 1000px;
  }

  h2 {
    margin-top: 0;
  }

  p {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  main section {
    padding: 0 20px;

    h2 {
      font-size: 26px;
      line-height: 40px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 22px;

    }

    p {
      font-size: 18px;
    }
  }
}
</style>
<script lang="ts"
        setup>
</script>