<script lang="ts"
        setup>

import CardsComponents from "@/components/Homepage/CardsComponents.vue";
import {onMounted, ref} from "vue";
import axios from "axios";
import {ArticlesApi} from "#/Articles";

const tournaments = ref<ArticlesApi[]>()

const baseUrl = import.meta.env.VITE_APP_BACKEND_BASEURL

onMounted(async () => {
  const response = await axios.get<ArticlesApi[]>(baseUrl + 'articles/tournaments/')
  if (!response) return
  tournaments.value = response.data
})

</script>

<template>
  <main>
    <div class="container">
      <h1>Tournois</h1>
      <div>
        <CardsComponents
            v-for="tournament in tournaments"
            :author="`${tournament.author.first_name} / ${tournament.author.username}`"
            :brief="tournament.brief"
            :date="tournament.created_at"
            :image="{source: baseUrl + tournament.image.image, alt: tournament.image.alt}"
            :slug="tournament.slug"
            :title="tournament.title"
            style-class="size-large"/>
      </div>
    </div>
  </main>
</template>

<style lang="scss"
       scoped>

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    padding: 0 20px;
    width: 100%;
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    > div {
      max-width: 1400px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 64px;
  }
}
</style>