<script lang="ts"
        setup>

</script>

<template>
  <main>
    <div class="container">
      <h1>Qui-sommes nous ?</h1>
      <div>
        <h2>L'association</h2>
        <p>Née à Mulhouse en 1992, l'Association de Shogi d'Alsace rassemble des joueurs passionnés par ce jeu de
          stratégie. </p>
        <p>L'ASA comporte un club à Colmar et un club à Strasbourg depuis 2023.</p>
      </div>
      <div>
        <h2>Evénements</h2>
        <p>Afin de toucher et de sensibiliser un maximum de monde, notre association a participé à certains
          événements, comme par exemple : </p>
        <ul>
          <li>La fête de la culture 2023 à Obernai</li>
          <li>Des initiations bimestrielles au Camphrier (Japan Shop à Strasbourg)</li>
        </ul>
      </div>
      <div>
        <h2>Tournois</h2>
        <p>Certains de nos joueurs, un peu plus compétiteurs sont présents sur de nombreux tournois: </p>
        <ul>
          <li>Ginkgo Open de Francfort (Octobre 2023)</li>
          <li>Open de Colmar (Septembre 2023)</li>
          <li>Championnat d'Europe 2023 à Strasbourg (organisé par l'ASA) (Juillet 2023)</li>
          <li>Open Néerlandais à La Haye (Den Haag) (Mai 2023)</li>
          <li>Championnat de France à Besançon (Mars 2023)</li>

        </ul>
      </div>
      <div>
        <h2>Nos membres</h2>
        <p>C'est dans un cadre ludique et amical que nos joueurs se rassemblent une fois par semaine pour jouer et
          échanger sur ce jeu de stratégie: </p>
        <ul>
          <li>Alain</li>
          <li>Antoine Vasseur</li>
          <li>Clément Flahaut (Vice Champion de France)</li>
          <li>Eléna Bach (Secrétaire)</li>
          <li>Jonathan Castel</li>
          <li>Jérémy</li>
          <li>Kyliane Audin</li>
          <li>Kévin Wachswender</li>
          <li>Odile</li>
          <li>Philippe Le Roux (le Sensei)</li>
          <li>Romain (Président)</li>
          <li>Ugo Gabriel (Trésorier)</li>
          <li>Yoan Duong</li>
        </ul>
      </div>
    </div>
  </main>
</template>

<style lang="scss"
       scoped>

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 100%;
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 40px;

    > div {
      max-width: 1000px;
      width: 100%;
      font-size: 16px;
    }

    li, p {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 1000px) {
  main .container {
    padding: 40px;
  }
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 36px;
  }

  .container {
    li, p {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    .container {
      padding: 20px;
    }

    h1 {
      font-size: 28px;
      font-weight: 700;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    h3 {
      font-size: 16px;
    }

    .container {
      li, p {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}


</style>