<script lang="ts"
        setup>
import {storeToRefs} from "pinia";
import {useDrawerStore} from "@/stores/useDrawerStore.ts";
import NavBarComponent from "@/components/NavBarComponent.vue";

const {drawerDisplay} = storeToRefs(useDrawerStore())
const {toggleDrawer} = useDrawerStore()

</script>

<template>


  <QDrawer v-model="drawerDisplay"
           elevated
           overlay
           side="left">
    <div>
      <svg viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg"
           @click="toggleDrawer"><title>window-close</title>
        <path d="M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z"/>
      </svg>
    </div>
    <NavBarComponent class-nav="drawer"/>
  </QDrawer>

</template>

<style scoped>
div {
  display: flex;
  justify-content: flex-end;
}

svg {
  cursor: pointer;
  width: 64px;
  height: 64px;
}
</style>