<script lang="ts"
        setup>

</script>

<template>
  <footer>
    <p>Association de Shogi d'Alsace - Section Strasbourg</p>
    <p>2023 &copy;</p>
    <p>
      <RouterLink :to="{'name' : 'legal-informations'}">Mentions Légales /</RouterLink>
      <RouterLink :to="{'name' : 'privacy-policy'}"> Politique de confidentialité</RouterLink>
    </p>
    <div class="logos">
      <a href="https://shogialsace.wordpress.com/">
        <img alt="Logo de l'Association de Shogi d'Alsace"
             src="../assets/logo-asa-square.png">
      </a>
      <a href="https://shogi.fr/">
        <img alt="Logo de la Fédération Française de Shogi"
             src="../assets/Logo-FFS-2023.jpg">
      </a>
      <a href="https://fesashogi.eu/">
        <img alt="Logo de la Fédération Européenne"
             src="../assets/FESA-logo500.jpg">
      </a>
    </div>
  </footer>
</template>

<style lang="scss"
       scoped>
footer {
  padding: 10px;
  font-family: 'Oxygen', sans-serif;
  background-color: $dark;
  color: white;

  text-align: center;

  p {
    margin: 0;
    font-size: 18px;

    > a {
      color: white;
    }
  }

  .logos {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    img {
      margin: 10px;
      max-height: 200px;
      max-width: 80%;
    }
  }
}

@media screen and (min-width: 1000px) {
  footer .logos {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
</style>