<script lang="ts"
        setup>

import {useRoute} from "vue-router";
import {computed} from "vue";
import {useDrawerStore} from "@/stores/useDrawerStore.ts";

const {toggleDrawer} = useDrawerStore()

const route = useRoute()
const isAdminRoute = computed(() => route.matched.some(record => record.meta.requiresAdmin))

</script>

<template>
  <header
      :class="isAdminRoute ? 'admin' : 'basic'"
  >
    <svg viewBox="0 0 24 24"
         xmlns="http://www.w3.org/2000/svg"
         @click="toggleDrawer"><title>menu</title>
      <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
    </svg>
    <img alt=""
         src="/logo_2.svg">
    <RouterLink :to="{name: 'home'}"><h2>Association de Shogi d'Alsace - <strong>Strasbourg</strong></h2></RouterLink>
  </header>
</template>

<style lang="scss"
       scoped>


header.basic {
  background-color: var(--primary-background);
}

header.admin {
  background-color: #49919D
}


header {
  margin-bottom: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-left: 20px;
  align-items: center;
  width: 100%;
  height: 120px;
  color: white;

  svg {
    width: 64px;
    height: 64px;
    fill: white;
    cursor: pointer;
  }

  img {
    position: relative;
    height: 80px;
    width: 80px;
  }

  a {
    color: white;
    text-decoration: none;
    position: relative;
    left: 0;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;

    strong {
      font-weight: 700;
    }
  }
}

@media screen and (min-width: 1200px) {
  header {
    margin-bottom: 0;

    > svg {
      display: none;
    }
  }

}

@media screen and (max-width: 800px) {
  header {
    gap: 20px;
    justify-content: left;
    padding-left: 40px;
    padding-right: 30px;

    svg {
      width: 48px;
      height: 48px;
    }

    img {
      left: 0;
      width: 64px;
      height: 64px;
    }

    h2 {
      font-size: 24px;
      line-height: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    padding-left: 20px;
    height: 80px;

    svg {
      width: 36px;
      height: 36px;
    }

    img {
      width: 48px;
      height: 48px;
    }

    h2 {
      font-size: 16px;
    }
  }
}

</style>