<script lang="ts"
        setup>

import {storeToRefs} from "pinia";
import {useUserStore} from "@/stores/useUserStore.ts";
import {useLogin} from "@/composables/useLogin.ts";

const userStore = useUserStore()
const {userData} = storeToRefs(userStore)
const {logout} = useLogin()

defineProps<{
  classNav: string
}>()

</script>

<template>
  <nav :class="classNav">
    <RouterLink :to="{'name' : 'home'}"><span>Accueil</span></RouterLink>
    <RouterLink :to="{'name' : 'presentation'}"><span>Présentation</span></RouterLink>
    <RouterLink :to="{'name' : 'us'}"><span>Qui sommes-nous ?</span></RouterLink>
    <RouterLink :to="{'name' : 'contact'}"><span>Nous contacter</span></RouterLink>
    <RouterLink :to="{'name' : 'tournaments'}"><span>Section Tournoi</span></RouterLink>
    <!--    <RouterLink :to="{'name': 'calendar'}">Section Calendrier</RouterLink>-->
    <!--    <RouterLink v-if="!userData"-->
    <!--                :to="{'name' : 'login'}">Connexion-->
    <!--    </RouterLink>-->
    <RouterLink v-if="!!userData && userData.is_staff"
                :to="{'name' : 'admin'}"
                class="secured"><span>Admin</span>
    </RouterLink>
    <button v-if="!!userData"
            @click="logout">Déconnexion
    </button>
  </nav>
</template>

<style lang="scss"
       scoped>

button {
  background-color: $secondary;
  margin-left: 10px;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
}

nav.regular {
  margin: 0 auto;
  max-width: 1200px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;

  > a {
    height: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;

    > span {
      padding: 0 20px;
      height: 80%;
      border-left: 1px solid lightgray;
      display: flex;
      align-items: center;
    }

    &:last-of-type {
      span {
        border-right: 1px solid lightgray;
      }
    }
  }

  .secured {
    color: red;
  }

  > a:last-of-type {
    border-right: 1px solid lightgray;
  }

  > a.router-link-exact-active {
    background-color: lightgray;
  }

  > a:hover {
    background-color: lightgray;
  }
}

@media screen and (max-width: 1200px) {
  nav.regular {
    display: none;
  }
}

nav.drawer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > a {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 0 20px;
    text-decoration: none;
    color: black;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .secured {
    color: red;
  }

  > a.router-link-exact-active {
    background-color: lightgray;
  }

  > a:hover {
    background-color: lightgray;
  }
}
</style>