<script lang="ts"
        setup>
import AdminNewsletterComponent from "@/components/Admin/AdminNewsletterComponent.vue";
import AdminArticleComponent from "@/components/Admin/AdminArticleComponent.vue";
</script>

<template>
  <main>
    <AdminNewsletterComponent/>
    <AdminArticleComponent/>
  </main>
</template>

<style>

</style>
