<script lang="ts"
        setup>

</script>

<template>
  <div>
    <h2>Panel Administration</h2>
    <RouterView/>
  </div>
</template>

<style lang="scss"
       scoped>
div > h2 {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  h2 {
    margin-top: 0;
    font-size: 36px;
  }
}
</style>