<script lang="ts"
        setup>

import Header from "@/components/HeaderComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import NavBar from "@/components/NavBarComponent.vue";
import Drawer from "@/components/DrawerComponent.vue";
import {onMounted} from "vue";
import {useUserStore} from "@/stores/useUserStore.ts";
import {useLogin} from "@/composables/useLogin.ts";
import {useSanitize} from "@/composables/useSanitize.ts";

const {setJwt} = useUserStore()
const {getUserMe} = useLogin()
const {sanitizeFunction} = useSanitize()

onMounted(async () => {
  if (localStorage.getItem('jwt_access')) {
    setJwt({...JSON.parse(window.atob((localStorage.getItem('jwt_access') as string).split('.')[1]))})
    await sanitizeFunction(getUserMe)
  }
})
</script>

<template>
  <QLayout view="hHh LpR lFf">
    <Header/>
    <NavBar class-nav="regular"/>
    <Drawer/>
    <RouterView/>
    <Footer/>
  </QLayout>
</template>

<style scoped>

</style>
