:root {
    --primary-background: #212F54;
    --secondary-background: #ADD5F7;
    --primary-action: #D4C2A9;
    --admin-primary-background: #49919D;
    --admin-secondary-background: #BED3C4;
}

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

a.primary-button, button.primary-button {
    background-color: var(--primary-action);
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D1D1D;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
}